# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/
package-lock.json
yarn.lock


.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3
backend/data.db

cloudflared/*.json
cloudflared/*.pem

frontend/dist/
backend/dist/
build/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

